<ion-content [fullscreen]="true">
  <ion-button class="btn1" routerLink="/home">
    <ion-icon name="chevron-back-outline"><source></ion-icon>
  </ion-button>
 
  <h1 class=" h1 ">Meu carrinho</h1>
 
  <ion-grid>
    <ion-row>
 
      <ion-col class="abcd">
        <img src="./assets/icon/frutas.png" class="imgicon"/>
      </ion-col>
 
      <ion-col class="efgh">
        <h1 class=" h2 ">Frutas <br> $50.00</h1>
      </ion-col>
 
      <ion-col class="ijkl">
        <ion-icon name="pencil-outline"></ion-icon>
        <h1 class="ijkl"> Editar </h1>
      </ion-col>
    </ion-row>
  </ion-grid>
 
  <ion-grid>
    <ion-row>
 
      <ion-col class="abcd1">
        <img src="./assets/icon/diversos.png" class="imgicon"/>
      </ion-col>
 
      <ion-col class="efgh">
        <h1 class=" h2 ">Diversos <br> $35.40</h1>
      </ion-col>
 
      <ion-col class="ijkl">
        <ion-icon name="pencil-outline"></ion-icon>
        <h1 class="ijkl"> Editar </h1>
      </ion-col>
    </ion-row>
  </ion-grid>
 
  <ion-grid>
    <ion-row>
 
      <ion-col class="abcd2">
        <img src="./assets/icon/acougue.png" class="imgicon"/>
      </ion-col>
 
      <ion-col class="efgh">
        <h1 class=" h2 ">Açougue<br> $56.44</h1>
      </ion-col>
 
      <ion-col class="ijkl">
        <ion-icon name="pencil-outline"></ion-icon>
        <h1 class="ijkl"> Editar </h1>
      </ion-col>
    </ion-row>
  </ion-grid>

    <ion-grid class="grid">
      <ion-row>
        <div class="itens">
          <ion-col>total pagar <br> <br></ion-col>
          <ion-col>12312 </ion-col>
        </div>
      </ion-row>
      <ion-row  class="pa">
        <ion-col>pagar agora </ion-col>
      </ion-row>
    </ion-grid>


</ion-content>