<ion-content [fullscreen]="true">

  <p class="ab">
    <ion-icon size="large" name="location-outline"></ion-icon>
  </p>

  <p class="cd">
    Taboa da Serra, SP
  </p>

  <ion-avatar>
    <img src="./assets/icon/user.png"/>
  </ion-avatar>

  <p class="ef">
    Seja bem-vindo.
  </p>

  <p class="mn">
    Vamos pedir itens fresquinhos para você?
  </p>

  <p class="bv">
    Categorias
  </p>

  <ion-grid> 
    <ion-row class="row">
        <ion-col class="quadrado1">
          <img src="./assets/icon/frutas.png"/>
        </ion-col>

        <ion-col class="quadrado2">
          <img src="./assets/icon/diversos.png"/>
        </ion-col>

        <ion-col class="quadrado3">
          <img src="./assets/icon/acougue.png"/>
        </ion-col>
    </ion-row>
    <ion-row class="row2">
      <ion-col class="txt1">
        <p>dgfsgr</p>
      </ion-col>

      <ion-col class="txt2">
        <p>dgfsgr</p>
      </ion-col>

      <ion-col class="txt3">
        <p>dgfsgr</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <h1 class="cx">
    Minhas compras
  </h1>

  <ion-grid class="bolas">
    <ion-row>
      <ion-col class="bola1">
        <img src="./assets/icon/frutas.png" class="imgicon"/>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="bola2">
        <img src="./assets/icon/diversos.png" class="imgicon"/>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="bola3">
        <img src="./assets/icon/acougue.png" class="imgicon"/>
      </ion-col>
    </ion-row>
  </ion-grid>

  <p class="p4"> Frutas </p>
  <p class="p41"> 27/05/2024 </p>
  <p class="p42"> $50.00 </p>
  <p class="p43"> 5 itens </p>

  <p class="p5"> Diversos </p>
  <p class="p51"> 20/05/2024 </p>
  <p class="p52"> $35.40 </p>
  <p class="p53"> 6 itens </p>

  <p class="p6"> Açogue </p>
  <p class="p61"> 20/05/2024 </p>
  <p class="p62"> $56.44 </p>
  <p class="p63"> 3 itens </p>

  <ion-tabs>
    <ion-tab-bar slot="bottom" class="tabs">
      <ion-tab-button routerLink="/home">
        <ion-icon name="home" aria-hidden="true"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button routerLink="/pesquisa">
        <ion-icon name="search-outline" aria-hidden="true"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button routerLink="/principal">
        <ion-icon name="document-outline" aria-hidden="true"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button routerLink="/carrinho" >
        <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
