ion-content{
    --background: white;
  
  }

  .ab{
    color: black;
    margin-top: 10%;
    margin-left: 5%;
  }

  .cd{
    color: black;
    margin-top: -10%;
    margin-left: 15%;
    font-size: 10px;
  }

  .ef{
    color: black;
    font-size: 10px;
    margin-left: 7%;
    margin-top: 10%;
  }

  .mn{
    color: black;
    font-family: arial black;
    margin-left: 7%;
    margin-top: -1%;
  }

  .bv{
    color: black;
    margin-top: 10%;
    margin-left: 7%;
    font-size: 15px;
  }

ion-avatar{
  margin-left: 82%;
  margin-top: -10%;
  height: 40px;
  width: 40px;
}

.tabs{
  --background: rgba(255, 255, 255, 0);
}

.quadrado1{
  background-color: #c5d7b1;
  border: solid 1px #fff;
  color: #fff;
  text-align: center;
  border-radius: 15px;
  margin: 1px;
  margin-right: 10px;
}

.quadrado2{
  background-color: #92b6fa;
  border: solid 1px #fff;
  color: #fff;
  text-align: center;
  margin-left: 5%;
  border-radius: 15px;
  margin: 1px;
  margin-right: 10px;
}

.quadrado3{
  background-color: #f0bdb2;
  border: solid 1px #fff;
  color: #fff;
  text-align: center;
  margin-left: 5%;
  border-radius: 15px;
  margin: 1px;
  
}

.row{
  width: 390px;
  height: 150px;
  margin-left: 10px;
}

.txt1{
  background-color: #b1c0a8;
  color: #fff;
  text-align: center;
  border-radius: 15px;
  margin: 1px;
  margin-right: 35px;
  height: 38px ;
}

.txt2{
  background-color: #8da9db;
  color: #fff;
  text-align: center;
  margin-left: 5%;
  border-radius: 15px;
  margin: 1px;
  margin-right: 10px;
  margin-left: -22px;
  height: 38px ;
}

.txt3{
  background-color: #cfaea9;
  color: #fff;
  text-align: center;
  margin-left: 5%;
  border-radius: 15px;
  margin: 1px;
  height: 38px;
  margin-right: 2px;
}

.row2{
  width: 390px;
  height: 38px;
  margin-left: 10px;
  margin-top: -10%;
}

.cx{
  color: black;
  margin-top: 10px;
  margin-left: 7%;
  font-size: 15px;
}

.bolas{
  width: 100px;
  margin-left: 7%;
}

.bola1{
  background-color: #c5d7b1;
  color: #fff;
  text-align: center;
  border-radius: 100%;
  position: relative;
  overflow: hidden;
  height: 85px;
  margin-top: 7%;
}

.bola2{
  background-color: #8da9db;
  color: #fff;
  text-align: center;
  border-radius: 100%;
  position: relative;
  overflow: hidden;
  height: 85px;
  margin-top: 30%;
}

.bola3{
  background-color: #cfaea9;
  color: #fff;
  text-align: center;
  border-radius: 100%;
  position: relative;
  overflow: hidden;
  height: 85px;
  margin-top: 30%;
}

.p4{
  font-family: Arial black;
  color: #000000;
  margin-left: 35%;
  margin-top: -72%;
}

.p41{
  font-size: 13px;
  color: #777777;
  margin-left: 35%;
  margin-top: -1.5%;
}

.p42{
  font-family: Arial black;
  color: #000000;
  margin-left: 80%;
  margin-top: -14%;
}

.p43{
  color: #777777;
  margin-left: 80%;
  margin-top: -2.3%;
}

.p5{
  font-family: Arial black;
  color: #000000;
  margin-left: 35%;
  margin-top: 15%;
}

.p51{
  font-size: 13px;
  color: #777777;
  margin-left: 35%;
  margin-top: -1.5%;
}

.p52{
  font-family: Arial black;
  color: #000000;
  margin-left: 80%;
  margin-top: -14%;
}

.p53{
  color: #777777;
  margin-left: 80%;
  margin-top: -2.3%;
}

.p6{
  font-family: Arial black;
  color: #000000;
  margin-left: 35%;
  margin-top: 15%;
}

.p61{
  font-size: 13px;
  color: #777777;
  margin-left: 35%;
  margin-top: -1.5%;
}

.p62{
  font-family: Arial black;
  color: #000000;
  margin-left: 80%;
  margin-top: -14%;
}

.p63{
  color: #777777;
  margin-left: 80%;
  margin-top: -2.3%;
}

.imgicon{
  height: 100%;
  width: 100%;
  margin-top: 3px;
  margin-left: 4px;
}