

<ion-content [fullscreen]="true">

  <ion-img
  class="home-image"
  src="./assets/icon/home-image.png"/>

  <p class="abc">Entregamos</p>
  <p class="def"> mantimentos à </p>
  <p class="ghi"> sua porta</p>

  <p class="jkl">A mercearia oferece vegetais e frutas frescas.</p>
  <p class="mno">Encomende itens frescos na mercearia.</p>

  <ion-button shape="round" size="large" routerLink="/principal" class="botao1">
    <p class="ini">INICIAR</p>
    <ion-icon name="arrow-forward-outline" class="icon1"></ion-icon>
 </ion-button>
</ion-content>
