ion-content{
  --background: white;

}

.home-image{ 
  margin-top: 15%;
  height: 420px;
  width: 420px;
}

.botao1{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 8%;
  width: 55%;
  margin-top: 1cm;
  margin-left: 21.5%;
  color: #ffffff;
  font-family: arial;
  font-size: 17px;
}

.abc{
  position: relative;
  background-color: #61d64a00;
  justify-content: center;
  color: #000000;
  font-size: 35px;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  margin-top: -2px;
  font-family: arial black;
}
.def{
  position: relative;
  background-color: #61d64a00;
  justify-content: center;
  color: #000000;
  font-size: 35px;
  font-weight: bold;
  margin-left: 14%; 
  margin-top: -40px;
  font-family: arial black;
}
.ghi{
  position: relative;
  background-color: #61d64a00;
  justify-content: center;
  color: #000000;
  font-size: 35px;
  font-weight: bold;
  justify-content: center;
  text-align: center; 
  margin-top: -40px;
  font-family: arial black;
}
.jkl{
  background-color: #61d64a00;
  justify-content: center;
  text-align: center;
  color: #000000;
  font-size: 17px;
}
.mno{
  background-color: #61d64a00;
  justify-content: center;
  text-align: center;
  color: #000000;
  font-size: 17px;
  margin-top: -10px;
}
.icon1{

}